@import "tailwindcss";

:root {
  --background: #ffffff;
  --color-skye-black: #1C1414;
}



body {
  background: var(--background);
  font-family: var(--font-radio-grotesk), sans-serif;
  /* margin-left: 10px;
  margin-right: 10px; */
}
